body {
  /* background-image: url("https://d1aueex22ha5si.cloudfront.net/Conference/1500/BackGround/3D-Brain-Rotation-1643705324864.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; */
}
h1 {
  text-align: center;
}
.word {
  text-align: center;
}
.unknown {
  font-size: 34px;
}

.hanger {
  /* border: 1px solid black; */
}
.attempts {
  font-size: 18px;
}
main {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.active {
  background-color: green;
  color: #fff;
}

.container {
  margin-top: 50px;
}

.row {
  text-align: center;
  margin: 10px;
}

.letter {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  text-transform: uppercase;
}
.letter:hover {
  background-color: #149902;

}

.input-form {
  margin-top: 50px;
  text-align: center;
}

button {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  max-width: 400px;
  max-height: 600px;
  position: absolute;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: 0;
} 

.hidden {
  display: none;
}

.scores {
justify-content: right;
}